*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.text-format{
    line-height: 1.5rem;
    color: white;
    padding: 0.1rem 0.3rem;
}


main{
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    position: relative;

    justify-content: center;
    align-items: center;
}

div.full-screen{
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-color: gray;
}

div.view{
    position: absolute;
    top: 1vh;
    right: calc(1vw + 2rem);
    background-color: gray;
}


section.container{
    width: 90vw;
    max-width: calc((250px + 1rem) * 7 );
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 3rem 0;
}

/* profile */
div.profile{
    width: 250px;
    height: 150px;
    background-color: aqua;
    margin: 0.5rem;
    background-image: url(../img/musk.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

div.name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 0.5rem;
}

/*  FOOTER */
footer{
    height: 80px;
    width: 100vw;
    background-color: #222222;
    color: white;
    font-size: 0.8rem;

    position: fixed;
    bottom: 0;
    left: 0;
}

footer ul{
    list-style-type: none;
}

footer li{
    height: 100%;
    text-align: center;
    line-height: 1.5rem;
    margin-left: 0.8rem;
}

footer i{
    font-size: 1.5rem;
}

footer div.settings{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding-left: 2rem;
}

footer div.options{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

footer div.end-call{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: gray;
    height: 100%;
    color: red;
    font-size: 1.1rem;
    padding: 2rem 2rem;
}

div.settings ul li:nth-child(even) i,
div.options ul li:nth-child(5) i{
    font-size: 1rem;
}

div.settings ul li:nth-child(even),
div.options ul li:nth-child(5){
    margin-left: 0.3rem;
}

div.options ul li:nth-child(4) i{
    color: rgb(65, 204, 65);
}